/* common settings 314 */

body {
	font-family: "Arial";
	font-size: 0.8em;
	margin-top: 0px;
	margin-bottom: 30px;
	background-image: url(img/background.gif);
	background-repeat: repeat-x;
	padding: 10px;
}
hr {
	border: 0px solid #aaaaaa;
	background-color: #aaaaaa;
	height: 1px;
}
a:link {
	color: #cc0000;
	text-decoration: none;
}
a:visited {
	color: #cc0000;
	text-decoration: none;
}
a:focus {
	color: #cc0000;
	text-decoration: none;
}
a:hover {
	color: #cc0000;
	text-decoration: underline;
}
a:active {
	color: #cc0000;
	text-decoration: none;
}
h1 {
	color: #111111;
	font-size: 2em;
	font-weight: normal;
	letter-spacing: 1px;
	margin: 10px 0;
	padding: 0;
}
h2 {
	color: #111111;
	font-size: 1.6em;
	font-weight: normal;
	letter-spacing: 1px;
	margin: 10px 0;
	padding: 0;
}
h3 {
	color: #333333;
}
.youtube {
	border: 1px solid #aaaaaa;
	-moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}
div.sa_demo_contentScreen {
	background-color: #ffffff;
	margin: 0 5px 1em 0;
	padding: 0px 8px 8px 8px;
	margin: 10px 40px 40px 5px;
	width: 580px;
}
div.sa_demo_headerScreen {
	border: #e6e6e6 2px double;
	background-color: #ffffff;
	padding: 10px 10px 0px 10px;
	height: 60px;
	margin: 70px 0 0px 0;
	width: 580px;
}
/* end common settings 314 */

.MooAccessDialogButton {
    border: 1px solid #aaaaaa;
    cursor: pointer;
    padding: 3px;
    margin: 5px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
    -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    background-image: url(img/verlauf.png);
    background-repeat: repeat-x;
    background-position: center center;
    background-color: #efefef;
}

.MooAccessDialogButton:hover {
    background-color: #ffffff;
}

.MooAccessDialogButton:focus {
    outline: none;
    background-color: #ffffff;
    border: 2px dotted #cc0000;
    margin: 4px;
}

/*
 .MooAccessDialogButton:focus::-moz-focus-inner {
 border: 0;
 }
 */
.MooAccessDialogButton.close {
    padding: 0px;
    position: absolute;
    right: 5px;
    top: 20px;
    font-weight: bold;
}

.MooAccessDialogButton.close:focus {
    outline: none;
    background-color: #ffffff;
    border: 2px dotted #cc0000;
}

hr.MooAccessDialog {
    border: 0px solid #aaaaaa;
    background-color: #aaaaaa;
    height: 1px;
}

.MooAccessDialogMask {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #000000;
}

.MooAccessDialogHeader {
    margin-top: 15px;
    background-color: #efefef;
    padding: 10px;
    border-top: 1px solid #aaaaaa;
    border-bottom: 1px solid #aaaaaa;
}

.MooAccessDialogTitle {
    font-weight: bold;
    margin-right: 40px;
}

.MooAccessDialogContent {
    padding: 10px;
}

.MooAccessDialogButtons {
    text-align: right;
    margin-bottom: 5px;
    margin-right: 5px;
}

.MooAccessDialogDialog {
    overflow: hidden;
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    border: 2px solid #666666;
    -moz-border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
    border-radius: 8px 8px 8px 8px;
    -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.MooAccessDialogContainer {
    width: 100%;
    height: 100%:opacity: 0;
    display: none;
}

